<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1072160672117-ot8a42d3ioarbn0norr7400q17to4851.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1072160672117-ot8a42d3ioarbn0norr7400q17to4851</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1072160672117-cf7gijqjgmekjdlvmcgk6sertq7h12s0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBRtGPL8RRj_j9VtJnyet_vpqQ72CX6JQc</string>
	<key>GCM_SENDER_ID</key>
	<string>1072160672117</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.divinearc.app</string>
	<key>PROJECT_ID</key>
	<string>geetagpt-50aba</string>
	<key>STORAGE_BUCKET</key>
	<string>geetagpt-50aba.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1072160672117:ios:23f77eda4c0fc43c442b3c</string>
</dict>
</plist>